.Mui-focused {
    color: 0px solid #ffffff !important;
}
.MuiInput-underline:before {
    border-bottom: 1px solid #ffffff !important;
}
.MuiInput-root:after {
    opacity: 0%;
}
.MuiToggleButton-root {
    background-color: transparent !important;
    color:rgba(255, 255, 255, 0.233) !important;
    border: 0px !important;
}
.MuiToggleButton-root.Mui-selected {
    color:#ffffff !important;
}